h1.nice{
  color:violet;
  font-size:210px;
  font-family: cursive;
}
ul.nice{
  color:violet;
  font-size: 60px;
  font-family: cursive;
}
h2.nice{
  color:red;
  font-size: 50px;
  font-family: cursive;
}
h2.wow{
  color:blue;
  font-size: 50px;
  font-family: cursive;
}
h2.cool{
  color:green;
  font-size: 50px;
  font-family: cursive;
}
p.nice{
  color:red;
  font-size: 40px;
  font-family: cursive;
}
p.wow{
  color:blue;
  font-size: 40px;
  font-family: cursive;
}
p.cool{
  color:green;
  font-size: 40px;
  font-family: cursive;
}
